body {
  background: radial-gradient(
    circle at -8.9% 51.2%,
    rgb(255, 124, 0) 0%,
    rgb(255, 124, 0) 15.9%,
    rgb(255, 163, 77) 15.9%,
    rgb(255, 163, 77) 24.4%,
    rgb(19, 30, 37) 24.5%,
    rgb(19, 30, 37) 66%
  );
}
h1 {
  text-align: center;
  color: #ffc93c;
  font-size: 62px;
}
p {
  text-align: center;
  color: #ffc93c;
  font-size: 18px;
  line-height: 1.5;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
img {
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}
footer {
  text-align: center;
}
a {
  color: white;
  padding: 12px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.email-link {
  color: blue;
  cursor: pointer;
}
